.social-bar {
	display: flex;
	width: 295px;
	padding: 10px 0px 10px 90px;
	background: #1E46F4;
	margin-left: 105%;
	font-size: 2rem;
}
.social-bar a {
	color: white;
	margin-right: 24px;
	transition: 0.3s;
}
.social-bar a:hover{
	transform: translateY(-15%);
}
@media(max-width: 500px){
	.social-bar{
		font-size: 3rem;
		margin-left: 0;
		width: unset;
		transform: translateX(20%);
		padding: 8px 0px 8px 28px;
		margin-top: 50px;
	}
}