.blue-box1{
	background:#1E46F4;
	height: 150px;
	width: 80vw;
	z-index: -1;
}
.blue-box2{
	background:#1E46F4;
	height: 500px;
	width: 100px;
	z-index: -1;
}
.blue-box_about_horizontal_1{
	background: #1E46F4;
	height: 150px;
	width: 90vw;
}
.blue-box_about_horizontal_2{
	background: #1E46F4;
	height: 75px;
	width: 90vw;
}
.blue-box_about_vertical_1 {
	background: #1E46F4;
	height: 500px;
	width: 100px;
}
.blue-box_about_vertical_2 {
	background: #1E46F4;
	height: 500px;
	width: 100px;
}

.box-outer_case_horizontal_1{
	position: absolute;
	margin: 0;
	top: 2250px;
	left: 180px;
	z-index: -1;
}
.blue-box_case_horizontal_1{
	background: #1E46F4;
	height: 75px;
	width: 80vw;
}
.box-outer_case_vertical_1{
	position: absolute;
	margin: 0;
	top: 1450px;
	left: 180px;
	z-index: -1;
}
.blue-box_case_vertical_1{
	background: #1E46F4;
	height: 500px;
	width: 100px;
}

@media(max-width: 500px){
	.blue-box_case_horizontal_1{
		width: 100vw;
	}
	.box-outer_case_horizontal_1{
		left: 0; 
	}
	.box-outer_case_vertical_1{
		left: 0;
	}
}

.image1 {
	width: 250px;
	margin: 0;
	opacity: 0.5;
}

.image_home_1 {
	width: 240px;
	margin: 0;
	opacity: 0.5;
}
.image-outer_home_1 {
	position: absolute;
	top: 0px;
	left: 0;
	margin: 0;
	z-index: -1;
}
.image_home_2 {
	width: 300px;
	margin: 0;
	opacity: 0.5;
}
.image-outer_home_2{
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 0;
}
.image_home_3 {
	width: 300px;
	margin: 0;
	opacity: 0.5;
}
.image-outer_home_3 {
	position: absolute;
	margin: 0;
	top: 550px;
	left: 180px;
	z-index: -1;
}
.image_home_4 {
	width: 300px;
	margin: 0;
	opacity: 0.5;
}
.image-outer_home_4 {
	position: absolute;
	margin: 0;
	top: 600px;
	right: 180px;
	z-index: -1;
}

.box1-outer{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: -1;
}
.box2-outer{
	position: absolute;
	top: -430px;
	right: 0;
	margin: 0;
	z-index: 1;
}
.box3-outer{
	position: absolute;
	top: 1000px;
	right: 0;
	margin: 0;
	z-index: 1;
}
.box-outer_about_horizontal_2{
	position: absolute;
	top: 2000px;
	right: 0;
	margin: 0;
	z-index: -1;
}
.box-outer_about_vertical_2{
	position: absolute;
	top: 2500px;
	left: 20vw ;
	margin: 0;
	z-index: -1;
}


.blue-bar-1 {
	height: 150px;
	width: 100%;
	background: #1E46F4 ;
}
.view-clients {
	font-size: 2rem;
	line-height: 2.4rem;
	color: #1E46F4;
	text-align: right;
	display: block;
	margin-top: 20px;
	margin-bottom: 90px;
}
.methodology h4 {
	font-size: 1.2rem;
	text-transform: uppercase;
	line-height: 1.4rem;
	font-weight: normal;
	margin: 0 0 30px 0;
}
.methodology p {
	font-size: 1.4rem;
	line-height: 2.7rem;
	margin: 0 0 100px 80px;
}
.methodology .secondary-title {
	margin-bottom: 42px;
}

.contact-area {
	margin: 42px 0 100px 80px;
}
.contact-area p {
	margin-bottom: 100px;
}
.welike img {
	transform: translateX(-50%)
}
.welike p {
	font-size: 3rem;
	line-height: 4.3rem;
	color: #1E46F4 ;
	text-decoration: underline;
	margin: 0;
	transform: translate(15%, -400px);
}
.profile-photos {
	display: flex;
	justify-content: space-between;
	margin: 135px 0 100px 0 ;
	width: 620px;
}
.profile-photos p {
	margin: 0;
	text-align: right;
	text-transform: uppercase;
	color: #9C9CA1;
}
.profile-photos img {
	display: block;
}
.hydesk {
	transform: translateX(-50%);
  margin-bottom: 60px;
}

@media(max-width: 500px){
	/* .left-side{
		display: none;
	}
	.right-side{
		display: none;
	} */
	.image-outer_home_1, .image-outer_home_2, .image-outer_home_3, .image-outer_home_4{
		display: none;
	}
	.blue-box1 {
		height: 75px;
		width: 100vw;
	}
	.box2-outer{
		top: 720px;
		z-index: -1;
		left: 0;
	}
	.blue-box2{
		width: 50px;
	}
	.blue-box_about_horizontal_1{
		height: 75px;
		width: 100vw;
	}
	.blue-box_about_horizontal_2{
		width: 100vw;
	}
	.box1-outer{
		top:-70px;
	}
	.box3-outer{
		z-index: -1;
	}
	.contact-area{
		margin-left: 0;
		margin-bottom: 50px;
		margin-top: 75px;
	}
	.contact-area p {
		margin-bottom: 35px;
	}
	.profile-photos{
		width: unset;
		margin: 135px 0 72px 0;
		transform: translateX(20%)
	}
	.hydesk {
		transform: translateX(-20%)
	}
	.welike p {
		font-size: 2rem;
		line-height: 2.4rem;
		transform: translate(15%, -260px);
	}
	.methodology h4 {
		margin: 0 0 18px 0;
	}
	.methodology p {
		margin: 0 0 65px 45px;
	}
	.methodology .secondary-title{
		margin-bottom: 35px;
	}
}

.case-study-button {
	margin: 0 auto 50px auto;
	display: block;
	width: 50%;
}
.case-study-wrapper p{
	margin-left: 80px;
	font-size: 1.4rem;
	line-height: 1.8rem;
}
.case-study-wrapper .case-study__image p {
	margin-left: 0;
}
.case-study-wrapper ul li{
	margin-left: 40px;
	font-size: 1.4rem;
	line-height: 1.8rem;
}
.case-study-title {
	position: absolute;
	top: 440px;
	color: #1E46F4;
	font-size: 3rem;
	line-height: 5rem;
	font-weight: normal;
	text-decoration: underline;
	text-align: right;
	width: 440px;
	z-index: 1;
}
.case-study-title__image {
	transform: translate(50%);
	margin-top: 34px;
}

.case-study__image.cs-2  {
	width: 700px;
  margin-top: 100px;
  transform: translateX(-50%);
}
.case-study__image.cs-3 {
  transform: translate(40%, 14%);
}
.case-study__image.cs-4 {
	margin-top: 134px;
  transform: translateX(-60%);
}
.case-study__image.cs-5  {
	width: 700px;
	margin-top: 50px;
	margin-bottom: 100px;
  transform: translateX(-50%);
}
.case-study__image.cs-6  {
	margin-top: 110px;
	margin-bottom: 80px;
  transform: translateX(50%);
}

.case-study__image.cs-7  {
	width: 700px;
	margin-top: 50px;
	margin-bottom: 100px;
  transform: translateX(-50%);
}
.case-study__image.cs-8  {
	width: 600px;
	margin-top: 40px;
	margin-bottom: 80px;
  transform: translateX(10%);
}

@media(max-width: 500px){
	.secondary-title.case-study {
    margin-top: 50px;
		margin-bottom: 28px;
	}
	.case-study-wrapper ul {
		padding: 0;
	}
	.case-study-wrapper ul li {
		margin-left: 0;
	}
	.case-study-title {
		top: 290px;
		font-size: 2rem;
		line-height: 3rem;
		width: 60%;
		transform: translateX(-40%);
	}
	.case-study-wrapper p{
		margin-left: 0;
	}
	.case-study-title__image{
		transform: translateX(20%);
	}
	.case-study__image.cs-2, .case-study__image.cs-3, .case-study-title__image.cs-4, .case-study__image.cs-5, .case-study-title__image.cs-6, .case-study__image.cs-7, .case-study__image.cs-8{
		width: 100%;
	}
	.case-study__image:nth-of-type(odd){
		transform: translateX(-20%)
	}
	.case-study__image:nth-of-type(even){
		transform: translateX(20%)
	}
	.case-study-button {
		width: 100%;
	}

}