.client-grid{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
	/* grid-template-columns: 200px 200px 200px;
	grid-template-rows: 200px 200px 200px; */
	justify-content: center;
	justify-items: center;
	align-items: center;
	max-width: 100%;
	margin-top: 42px;
}
.client {
	background:#EAEAEA;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.client::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.client:nth-of-type(odd){
	background-color: #D1D0D6;
}

.client img {
	max-width: 60%;
	max-height: 50%;
	/* width: 120px;  */
	filter: grayscale(100%) contrast(90%);
	transition: 0.4s;
	display: block;
}
.client:hover img{
	filter: grayscale(0)
}

@media(max-width: 500px){
	.client-grid {
		grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
		margin-top: 35px;
	}
	.client:nth-of-type(odd){
	background-color: #D1D0D6;
}
	.client:nth-of-type(3n){
	background-color: #EAEAEA;
	}
	.client:nth-of-type(4){
		background-color: #D1D0D6;
	}
	.client:nth-of-type(7){
		background-color: #EAEAEA;
	}
	.client:nth-of-type(8){
		background-color: #D1D0D6;
	}
	.client:nth-of-type(9){
		background-color: #D1D0D6;
	}
	.client img {
		filter: grayscale(0);
	}

}
