html {
	font-size: 10px;
	-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
					box-sizing: border-box;
}

*,
*::before,
*::after {
		-webkit-box-sizing: inherit;
				-moz-box-sizing: inherit;
						box-sizing: inherit;
}

body {
	font-family: 'Work Sans', sans-serif;
	font-size: 1.2rem;
	line-height: 2rem;
	margin: 0;
	color: #4A4A4A;
	letter-spacing: 0.71px;
}

img {
	max-width: 100%;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
.button{
	border: 2px solid black;
	padding: 16px 42px;
	font-size: 1.4rem;
	display: inline-block;
	text-decoration: none;
	color: black;
	transition: 0.3s;
}
.button:hover {
	color: white;
	background: black;
}

.hidden {
	display: none;
}

.wrapper-outer {
	/* border: 1px solid black; */
	width: 90%;
	margin: 0 auto;
	position: relative;
}
.wrapper-grey:after {
  /* content: "";
  display: table;
  clear: both; */
}
.flex-wrapper{
	display: flex;
	padding-top: 215px;
}
.wrapper-grey {
	width: 620px;
	max-width: 88%;
	margin: 0 auto;
	background: #F6F4F5;
	padding: 80px;
	padding-top: 0;
}


.up-five-title {
	color: #1E46F4;
	text-align: center;
	margin: 0;
	transform: translateY(-50%);
	font-size: 6rem;
	line-height: 7.2rem;
	font-weight: normal;
}
.up-five-subtitle {
	font-size: 2rem;
	line-height: 3.5rem;
	width: 70%;
	text-align: center;
	margin: 30px auto 245px auto;
	line-height: 40px;
	color: #1E46F4;
	font-family: 'Space Mono', monospace
}
.primary-title {
	background: #1E46F4;
	padding: 10px 55px 10px 55px;
	color: white;
	transform: translateX(-50%);
	display: inline-block;
	width: 108%;
	font-size: 2rem;
	line-height: 2.4rem;
	font-weight: normal;
	transition: 0.5s;
}
.primary-title:hover{
	background: black;
}
.primary-title.contact {
	transform: translateX(-100%);
	width: 57%;
}
.primary-title.about {
	transform: translate(-50%, -770%);
}
.secondary-title {
	color: #1E46F4;
	position: relative;
	margin: 0;
	padding-top: 16px;
	font-size: 1.4rem;
	line-height: 1.8rem;
}
.secondary-title:after{
	content: '';
	background: #1E46F4;
	width: 30px;
	height: 3px;
	position: absolute;
	top: 0;
	left: 0;
}

.secondary-title.case-study {
	margin-top: 105px;
	margin-bottom: 40px;
}

@media(max-width: 500px){
	.wrapper-outer {
		width: 100%;
	}
	.flex-wrapper{
		padding-top: 120px;
	}
	.wrapper-grey{
		padding: 28px;
		padding-top: 0;
	}
	.up-five-title {
		font-size: 4.2rem;
		line-height: 6.1rem;
	}
	.up-five-subtitle{
		font-size: 1.4rem;
		line-height: 2.4rem;
		margin-top: 0;
		margin-bottom: 0;
		width: 80%;
	}
	.up-five-subtitle.main-page{
		margin-bottom: 65px;
	}
	.primary-title {
		padding: 8px 80px 8px 55px;
		transform: translate(-70px,-200%);
		font-size: 1.4rem;
		line-height: 1.9rem;
		width: unset;
		white-space: nowrap;
	}
	.primary-title.about {
		transform: translate(-30%, -310%);
	}
	.primary-title.case-studies {
		transform: translate(-50px,110%);
	}
	.primary-title.case-study {
		transform: translate(-60px,0%);
	}
	.primary-title.contact {
		padding-right: 135px;
		transform: translateX(-28%);
		width: unset;
	}
	.button {
		width: 100%;
		text-align: center;
	}
}
.case-study-card {
	position: relative;
	margin-top: 90px;
}
.case-study-card:nth-child(odd){
	transform: translateX(50%) ;

}
.case-study-card:nth-child(even){
	transform: translateX(-50%);
}
.case-study-card:nth-child(even) img {
	transform: rotateY(180deg);
}
.case-study-card:nth-child(odd) h3{
 transform: translateY(-100%) translateX(-70%);
}
.case-study-card:nth-child(even) h3{
 transform: translateY(-100%) translateX(80%);
 text-align: left;
}
.case-study-card:nth-child(even) p{
 text-align: right;
}

.case-study-card:hover img {
	filter: grayscale(80%);
}
.case-study-card img {
	width: 100%;
	transition: 0.2s;
}
.case-study-card h3 {
	position: absolute;
	top: 50%;
	color: #1E46F4;
	font-size: 3rem;
	line-height: 5rem;
	font-weight: normal;
	text-decoration: underline;
	text-align: right;
	width: 90%;
}
.case-study-card p {
	margin-top: 0;
	font-size: 1.2rem;
	line-height: 1.4rem;
	text-transform: uppercase;
	
}
.case-study-card a {
	text-decoration: none;
	color: #4A4A4A;
}
.about-image {
	transform: translate(50%, -50%);
}
.service-list, .client-list {
	margin: 38px 0px 105px 80px ;
}
.service-list li {
	font-size: 1.4rem;
	line-height: 2.7rem;
}
.our-team {
	margin: 28px 0 0 80px;
}
@media(max-width: 500px){
	.about-image{
		transform: translate(20%, 20%);
	}
	.services {
		margin-top: 28px;
	}
	.service-list, .client-list, .our-team {
		margin-left: 0;
		padding-left: 0;
		margin-top: 20px;
	}
	.case-study-card h3 {
		font-size: 2rem;
		line-height: 3rem;
	}
	.case-study-card img {
		width: 80%;
	}
	.case-study-card:nth-child(odd){
	transform: translateX(40%);
	}
	.case-study-card:nth-child(even){
		transform: translateX(-30%);
	}
	.case-study-card:nth-child(odd) h3{
 transform: translateY(-100%) translateX(-80%);
	}
	.case-study-card:nth-child(even) h3{
	transform: translateY(-100%) translateX(70%);
	text-align: left;
	}
}

